<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:rim="http://www.blackberry.com/ns/widgets"
	id="com.peanutbuttercolective.custom-camera2"
	version="0.0.1">

<name>Custom Camera 2</name>
<description>PhoneGap plugin to support a custom camera overlay and camera roll picker</description>
<author>Jose Luis Maroto</author>

<info>
	Uses the DBCamera from Daniele Bogo (https://github.com/danielebogo/DBCamera)
</info>

<js-module src="www/js/custom_camera2.js" name="CustomCamera2">
	<clobbers target="navigator.CustomCamera2"/>
</js-module>

<engines>
	<engine name="cordova" version=">=3.1.0"/>
</engines>

<platform name="ios">

	<!-- config file -->
	<config-file target="config.xml" parent="/*">
		<feature name="CustomCamera2">
			<param name="ios-package" value="CustomCamera2"/>
		</feature>
	</config-file>

	<!-- core CustomCamera header and source files -->
	<header-file src="platforms/ios/Classes/CustomCamera2.h"/>
	<source-file src="platforms/ios/Classes/CustomCamera2.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraContainer.h"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraImageView.h"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraManager.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCameraSegueViewController.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCollectionViewCell.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBLibraryManager.m"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCameraContainer.m"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCameraImageView.m"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCameraManager.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraView.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCollectionViewCell.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraDelegate.h"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraLibrary.h"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraSegueView.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCameraView.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCollectionViewFlowLayout.h"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraGridView.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCameraLibrary.m"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCameraSegueView.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraViewController.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCollectionViewFlowLayout.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/UIImage+Crop.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCameraGridView.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraMacros.h"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBCameraSegueViewController.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBCameraViewController.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBLibraryManager.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/UIImage+Crop.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBEventlessView.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBEventlessView.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBFilterCollectionViewCell.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBFilterCollectionViewCell.m"/>
	<header-file src="platforms/ios/Classes/DBCamera/DBFilterCollectionViewFlowLayout.h"/>
	<source-file src="platforms/ios/Classes/DBCamera/DBFilterCollectionViewFlowLayout.m"/>
	

	<!--GPUImage used for filters-->
	<header-file src="platforms/ios/Classes/GPUImage/GLProgram.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GLProgram.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImage.h"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImage3x3ConvolutionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImage3x3ConvolutionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImage3x3TextureSamplingFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImage3x3TextureSamplingFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageAdaptiveThresholdFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageAdaptiveThresholdFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageAddBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageAddBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageAlphaBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageAlphaBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageAmatorkaFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageAmatorkaFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageAverageColor.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageAverageColor.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageAverageLuminanceThresholdFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageAverageLuminanceThresholdFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageBilateralFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageBilateralFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageBoxBlurFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageBoxBlurFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageBrightnessFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageBrightnessFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageBuffer.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageBuffer.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageBulgeDistortionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageBulgeDistortionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageCannyEdgeDetectionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageCannyEdgeDetectionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageCGAColorspaceFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageCGAColorspaceFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageChromaKeyBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageChromaKeyBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageChromaKeyFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageChromaKeyFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageClosingFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageClosingFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageColorBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageColorBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageColorBurnBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageColorBurnBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageColorDodgeBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageColorDodgeBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageColorInvertFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageColorInvertFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageColorMatrixFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageColorMatrixFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageColorPackingFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageColorPackingFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageContrastFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageContrastFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageCropFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageCropFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageCrosshairGenerator.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageCrosshairGenerator.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageCrosshatchFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageCrosshatchFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageDarkenBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageDarkenBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageDifferenceBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageDifferenceBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageDilationFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageDilationFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageDirectionalNonMaximumSuppressionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageDirectionalNonMaximumSuppressionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUimageDirectionalSobelEdgeDetectionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUimageDirectionalSobelEdgeDetectionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageDissolveBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageDissolveBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageDivideBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageDivideBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageEmbossFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageEmbossFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageErosionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageErosionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageExclusionBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageExclusionBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageExposureFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageExposureFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageFalseColorFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageFalseColorFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageFASTCornerDetectionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageFASTCornerDetectionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageFilterGroup.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageFilterGroup.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageFilterPipeline.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageFilterPipeline.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageFramebuffer.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageFramebuffer.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageFramebufferCache.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageFramebufferCache.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageGammaFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageGammaFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageGaussianBlurFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageGaussianBlurFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageGaussianBlurPositionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageGaussianBlurPositionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageGaussianSelectiveBlurFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageGaussianSelectiveBlurFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageGlassSphereFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageGlassSphereFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageGrayscaleFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageGrayscaleFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHalftoneFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHalftoneFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHardLightBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHardLightBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHarrisCornerDetectionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHarrisCornerDetectionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHazeFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHazeFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHighlightShadowFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHighlightShadowFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHighPassFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHighPassFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHistogramFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHistogramFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHistogramGenerator.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHistogramGenerator.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHoughTransformLineDetector.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHoughTransformLineDetector.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHSBFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHSBFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHueBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHueBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageHueFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageHueFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageiOSBlurFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageiOSBlurFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageJFAVoronoiFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageJFAVoronoiFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageKuwaharaFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageKuwaharaFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageKuwaharaRadius3Filter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageKuwaharaRadius3Filter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLanczosResamplingFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLanczosResamplingFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLaplacianFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLaplacianFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLevelsFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLevelsFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLightenBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLightenBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLinearBurnBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLinearBurnBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLineGenerator.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLineGenerator.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLocalBinaryPatternFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLocalBinaryPatternFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLookupFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLookupFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLowPassFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLowPassFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLuminanceRangeFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLuminanceRangeFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLuminanceThresholdFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLuminanceThresholdFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLuminosity.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLuminosity.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageLuminosityBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageLuminosityBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMaskFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMaskFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMedianFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMedianFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMissEtikateFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMissEtikateFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMonochromeFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMonochromeFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMosaicFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMosaicFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMotionBlurFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMotionBlurFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMotionDetector.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMotionDetector.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMovie.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMovie.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMovieComposition.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMovieComposition.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageMultiplyBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageMultiplyBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageNobleCornerDetectionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageNobleCornerDetectionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageNonMaximumSuppressionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageNonMaximumSuppressionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageNormalBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageNormalBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageOpacityFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageOpacityFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageOpeningFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageOpeningFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageOutput.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageOutput.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageOverlayBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageOverlayBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageParallelCoordinateLineTransformFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageParallelCoordinateLineTransformFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImagePerlinNoiseFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImagePerlinNoiseFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImagePinchDistortionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImagePinchDistortionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImagePixellateFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImagePixellateFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImagePixellatePositionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImagePixellatePositionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImagePoissonBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImagePoissonBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImagePolarPixellateFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImagePolarPixellateFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImagePolkaDotFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImagePolkaDotFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImagePosterizeFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImagePosterizeFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImagePrewittEdgeDetectionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImagePrewittEdgeDetectionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageRawDataInput.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageRawDataInput.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageRawDataOutput.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageRawDataOutput.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageRGBClosingFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageRGBClosingFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageRGBDilationFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageRGBDilationFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageRGBErosionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageRGBErosionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageRGBFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageRGBFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageRGBOpeningFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageRGBOpeningFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSaturationBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSaturationBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSaturationFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSaturationFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageScreenBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageScreenBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSepiaFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSepiaFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSharpenFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSharpenFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageShiTomasiFeatureDetectionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageShiTomasiFeatureDetectionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSingleComponentGaussianBlurFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSingleComponentGaussianBlurFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSketchFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSketchFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSmoothToonFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSmoothToonFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSobelEdgeDetectionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSobelEdgeDetectionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSoftEleganceFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSoftEleganceFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSoftLightBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSoftLightBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSolidColorGenerator.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSolidColorGenerator.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSourceOverBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSourceOverBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSphereRefractionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSphereRefractionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageStillCamera.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageStillCamera.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageStretchDistortionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageStretchDistortionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSubtractBlendFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSubtractBlendFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageSwirlFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageSwirlFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageTextureInput.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageTextureInput.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageTextureOutput.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageTextureOutput.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageThreeInputFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageThreeInputFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageThresholdEdgeDetectionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageThresholdEdgeDetectionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageThresholdedNonMaximumSuppressionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageThresholdedNonMaximumSuppressionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageThresholdSketchFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageThresholdSketchFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageTiltShiftFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageTiltShiftFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageToneCurveFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageToneCurveFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageToonFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageToonFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageTransformFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageTransformFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageTwoInputCrossTextureSamplingFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageTwoInputCrossTextureSamplingFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageTwoInputFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageTwoInputFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageTwoPassFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageTwoPassFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageTwoPassTextureSamplingFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageTwoPassTextureSamplingFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageUIElement.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageUIElement.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageUnsharpMaskFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageUnsharpMaskFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageVideoCamera.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageVideoCamera.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageVignetteFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageVignetteFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageVoronoiConsumerFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageVoronoiConsumerFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageWeakPixelInclusionFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageWeakPixelInclusionFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageWhiteBalanceFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageWhiteBalanceFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageXYDerivativeFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageXYDerivativeFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/GPUImageZoomBlurFilter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/GPUImageZoomBlurFilter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/iOS/GPUImageContext.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/iOS/GPUImageContext.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/iOS/GPUImageMovieWriter.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/iOS/GPUImageMovieWriter.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/iOS/GPUImagePicture+TextureSubimage.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/iOS/GPUImagePicture+TextureSubimage.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/iOS/GPUImagePicture.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/iOS/GPUImagePicture.m"/>
        <header-file src="platforms/ios/Classes/GPUImage/iOS/GPUImageView.h"/>
        <source-file src="platforms/ios/Classes/GPUImage/iOS/GPUImageView.m"/>        

	<resource-file src="platforms/ios/Classes/DBCamera/Localizations/es.lproj/DBCamera.strings" targetDir="Resources/es.lproj"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/DBCameraImages.xcassets"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_Crop.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_Crop@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_CropSelected.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_CropSelected@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_cameraGridNormal.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_cameraGridNormal@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_cameraGridSelected.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_cameraGridSelected@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_close@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_flash-auto@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_flash-no@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_flash@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_flip@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_flipSelected.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_flipSelected@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_skip@2x.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_trigger.png"/>
        <resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_trigger@2x.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_back@2x.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/CC2_use@2x.png"/>
	
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/ficon_normal.jpg"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/filters.json"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/icon_jbay.jpg"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/icon_mundaka.jpg"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/icon_santacruz.jpg"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/icon_sunset.jpg"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/icon_tamarindo.jpg"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/icon_ulluwatu.jpg"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/J-BAY/Gradient-Fill-multiplay.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/J-BAY/gradient_overlay.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/J-BAY/noise_multiply.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/SANTACRUZ/santacruz_lookup_1.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/SANTACRUZ/santacruz_lookup_2.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/SANTACRUZ/santacruz_vineta_overlay.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/sunset/SG_sunset"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/sunset/sunset_gradient_lighten.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/sunset/sunset_gradient_overlay.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/sunset/sunset_lookup.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/sunset/sunset_lookup_hue_colorBalance_levesl.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/sunset/sunset_texture_multiply.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/tamarindo/tamarindo_lookup.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/tamarindo/vineta_tamarindo_overlay.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/ulluwatu/ULLUWATU_lookup.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/ulluwatu/ulluwatu_texture_1.png"/>
	<resource-file src="platforms/ios/Classes/DBCamera/Resources/filters/ulluwatu/ulluwatu_texture_2.png"/>

	<framework src="QuartzCore.framework"/>
	<framework src="CoreMedia.framework"/>
	<framework src="CoreVideo.framework"/>
	<framework src="OpenGLES.framework"/>
	<framework src="AVFoundation.framework"/>
</platform>

</plugin>
